<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="accent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <accent.Properties.Settings>
            <setting name="lastVoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastDeviceId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StayOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClearTextBox" serializeAs="String">
                <value>False</value>
            </setting>
        </accent.Properties.Settings>
    </userSettings>
</configuration>